extend ../layout.pug
block variables
  - title = "網頁設計"
  - _data = index['webdesign']
  - _creatives = creatives
block head
  link(rel="stylesheet" href="/assets/css/webdesign.css?version="+timestamp)

block body
  .bg-dark.bg-box
    .text-light.bg-dark-transparent
      .container.p-5.text-center
        h1= title
        p.
          我們致力於滿足每一位客戶的獨特需求，不僅僅是設計與製作，我們也提供全面的網站託管與管理服務，涵蓋從前端到後端的開發。無論您是需要一個引人注目的網站還是全面的技術支持，我們都能為您提供最完善的解決方案，以專業和友善的態度確保您獲得最佳的使用體驗。
    .container.text-light
      .p-2
        mixin modals(val, cat, index)        
          .modal.fade(tabindex='-1', role='dialog', id=cat+index)
            .modal-dialog
              .modal-content.bg-dark.text-light
                .modal-header
                  //h5.modal-title= val['brief']
                  button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close' style="filter: invert(1)")
                .modal-body
                  .carousel.slide.carousel-fade(data-ride="carousel", id=val['image'])
                    .carousel-indicators
                      each img, index in _creatives[val['image']]
                        if index == 0
                          li.active(data-bs-target="#"+val['image'], data-bs-slide-to=index)
                        else
                          li(data-bs-target="#"+val['image'], data-bs-slide-to=index)
                    .carousel-inner
                      each img, index in _creatives[val['image']]
                        if index == 0
                          .carousel-item.ratio.ratio-16x9.active
                            img(src="/assets/img/creative/"+val['image']+"/"+img, alt="")
                        else
                          .carousel-item.ratio.ratio-16x9
                            img(src="/assets/img/creative/"+val['image']+"/"+img, alt="")
                  hr
                  p !{val['disc']}
                  hr
                  a.btn.btn-outline-light.w-100(role="button", href=val['link'], target="_blank") 相關連結
        mixin work(val, cat, index)
          .col-md-4.p-2
            .work-block.p-2.h-100(data-aos="fade-up" data-aos-delay=(index%3)*100): div
              a(data-bs-toggle="modal" data-bs-target="#"+cat+index href="#")
                .img-block(style="background-image: url(/assets/img/creative/"+val['image']+"/"+_creatives[val['image']][0]+");")
                p #{val['brief']}    
        hr
        each val, index in _data
          +modals(val, "webdesign", index)
          
        .row.rwd-row.mb-5
          each val, index in _data
            +work(val, "webdesign", index)