- _arts_data = index['arts'].reverse()
- _creatives = creatives
<!DOCTYPE html>
html(lang="zh-Hant-TW")
  include ../header.pug
  title 位元創意 - 網頁設計
  link(rel="stylesheet" href="/assets/css/base.css")
  link(rel="stylesheet" href="/assets/css/webdesign.css")
  body.bg-dark
    include ../nav.pug
    .container.text-light
      .bg-dark-transparent.p-4
        h1 網頁設計
        p.
          從光軌創曳開始，除開發高階led表演道具、相關系統軟體，也與多位藝術家合作，協助展覽現場技術支援，包括影像同步播放技術、動態感應裝置等，
          在各個面向提供支援與建議，讓您的創作更有彈性不受技術限制。
      .p-2
        mixin modals(val, cat, index)        
          .modal.fade(tabindex='-1', role='dialog', id=cat+index)
            .modal-dialog
              .modal-content.bg-dark.text-light
                .modal-header
                  //h5.modal-title= val['brief']
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true', style="color: #FFF;") ×
                .modal-body
                  .carousel.slide.carousel-fade(data-ride="carousel", id=val['image'])
                    .carousel-indicators
                      each img, index in _creatives[val['image']]
                        if index == 0
                          li.active(data-target="#"+val['image'], data-slide-to=index)
                        else
                          li(data-target="#"+val['image'], data-slide-to=index)
                    .carousel-inner
                      each img, index in _creatives[val['image']]
                        if index == 0
                          .carousel-item.active(style="background-image: url(/assets/img/creative/"+val['image']+"/"+img)
                        else
                          .carousel-item(style="background-image: url(/assets/img/creative/"+val['image']+"/"+img)
                  hr
                  p !{val['disc']}
                  hr
                  a.btn.btn-outline-light.w-100(role="button", href=val['link'], target="_blank") 相關連結
        mixin work(val, cat, index)
          .col-md-4.p-2
            .work-block.p-2.h-100
              a(data-toggle="modal" data-target="#"+cat+index href="#")
                .img-block(style="background-image: url(/assets/img/creative/"+val['image']+"/"+_creatives[val['image']][0]+");")
                p #{val['brief']}    
        hr
        each val, index in _arts_data
          +modals(val, "arts", index)
          
        .row.rwd-row.mb-5
          each val, index in _arts_data
            +work(val, "arts", index)
    include ../footer.pug
