- _data = index['webdesign']
- _creatives = creatives
<!DOCTYPE html>
html(lang="zh-Hant-TW")
  include ../header.pug
  title 位元創意 - 網頁設計
  link(rel="stylesheet" href="/assets/css/base.css")
  link(rel="stylesheet" href="/assets/css/webdesign.css")
  body.bg-dark
    include ../nav.pug
    .text-light.bg-dark-transparent
      .container.p-5.text-center
        h1 網頁設計
        p.
          位元創意提供專業的客製化網頁設計與製作，也協助託管、代管，從前端到後端開發給您最完善的服務。
    .container.text-light
      .p-2
        mixin modals(val, cat, index)        
          .modal.fade(tabindex='-1', role='dialog', id=cat+index)
            .modal-dialog
              .modal-content.bg-dark.text-light
                .modal-header
                  //h5.modal-title= val['brief']
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true', style="color: #FFF;") ×
                .modal-body
                  .carousel.slide.carousel-fade(data-ride="carousel", id=val['image'])
                    .carousel-indicators
                      each img, index in _creatives[val['image']]
                        if index == 0
                          li.active(data-target="#"+val['image'], data-slide-to=index)
                        else
                          li(data-target="#"+val['image'], data-slide-to=index)
                    .carousel-inner
                      each img, index in _creatives[val['image']]
                        if index == 0
                          .carousel-item.active(style="background-image: url(/assets/img/creative/"+val['image']+"/"+img)
                        else
                          .carousel-item(style="background-image: url(/assets/img/creative/"+val['image']+"/"+img)
                  hr
                  p !{val['disc']}
                  hr
                  a.btn.btn-outline-light.w-100(role="button", href=val['link'], target="_blank") 相關連結
        mixin work(val, cat, index)
          .col-md-4.p-2
            .work-block.p-2.h-100
              a(data-toggle="modal" data-target="#"+cat+index href="#")
                .img-block(style="background-image: url(/assets/img/creative/"+val['image']+"/"+_creatives[val['image']][0]+");")
                p #{val['brief']}    
        hr
        each val, index in _data
          +modals(val, "webdesign", index)
          
        .row.rwd-row.mb-5
          each val, index in _data
            +work(val, "webdesign", index)
    include ../footer.pug
